version: "3.9"

services:
  app:
    build: .
    container_name: telemetry_app
    ports:
      - "8000:8000"
    volumes:
      - ./events.db:/app/events.db

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
